---
import HomescreenLayout from "../layouts/homescreen.astro";
import ToolsGrid from "../components/tools-grid";
import { getToolsByCategory } from "@/lib/get-tool-by-category";

const tools = await getToolsByCategory("colour");
if (Astro.cache.enabled) {
	Astro.cache.set({
		maxAge: 86400,
		swr: 43200,
		tags: ["colours-page"],
	});
}
---

<HomescreenLayout
	title="Colours | Design Index"
	description="curated collection of colour palettes, hues, gradients and backgrounds to inspire and streamline your design process. From bold primaries to subtle pastels, this section offers a versatile range of colour resources to help you build consistent, visually appealing, and emotionally resonant design systems"
	backgroundVariant="slate"
>
	<main class="mt-[12px] px-[20px]">
		<section>
			<div>
				<h1 class="font-google font-medium text-4xl leading-none theme-text-primary md:text-[40px] tracking-[0.05rem]">
					Colours
				</h1>
				<p class="hidden md:block mt-3 font-rethink text-[20px] leading-[18px] theme-text-muted md:text-base font-medium">
					A curated collection of colour palettes, hues, gradients and backgrounds to inspire and streamline your design process. From bold primaries to subtle pastels, this section offers a versatile range of colour resources to help you build consistent, visually appealing, and emotionally resonant design systems
				</p>
				<p class="block md:hidden mt-3 font-rethink text-[15px] leading-[18px] theme-text-muted md:text-base font-medium">
					A curated collection of colour palettes, gradients, and backgrounds to inspire your design process. Explore bold to subtle hues that help build consistent and visually appealing design systems.
				</p>
				<ToolsGrid
					client:load
					category="colour"
					initialTools={tools}
				/>
			</div>
		</section>
	</main>
</HomescreenLayout>
