---
import HomescreenLayout from "../layouts/homescreen.astro";
import ToolsGrid from "../components/tools-grid";
import { getToolsByCategory } from "@/lib/get-tool-by-category";

const tools = await getToolsByCategory("design_inspiration");

if (Astro.cache.enabled) {
	Astro.cache.set({
		maxAge: 3600,
		tags: ["design-inspo-page"],
	});
}
---

<HomescreenLayout title="Design Inspiration | Design Index" description="Thoughtfully assembled gallery of visual inspiration across web, mobile, print, and branding. Discover cutting-edge layouts, creative UI patterns, and standout visuals to spark ideas, refine your style, and fuel your creative momentum." keywords="design inspiration, UI inspiration, web design galleries, creative inspiration, visual design references" backgroundVariant="slate">
	<main class="mt-[20px] px-[20px]">
		<section>
			<div>
				<h1 class="font-rethink font-medium text-4xl leading-none theme-text-primary md:text-[40px]">
					design inspiration
				</h1>
				<p class="hidden md:block mt-3 font-rethink text-[20px] leading-[18px] theme-text-muted md:text-base">
					Thoughtfully assembled gallery of visual inspiration across web, mobile, print, and branding. Discover cutting-edge layouts, creative UI patterns, and standout visuals to spark ideas, refine your style, and fuel your creative momentum.
				</p>
				<p class="block md:hidden mt-3 font-rethink text-[15px] leading-[18px] theme-text-muted md:text-base">
					A curated gallery of visual inspiration across web, mobile, print, and branding. Explore standout layouts, creative UI patterns, and bold visuals to spark ideas and fuel your creativity.
				</p>
				<ToolsGrid client:load category="design_inspiration" initialTools={tools} />
			</div>
		</section>
	</main>
</HomescreenLayout>
