---
import HomescreenLayout from "../layouts/homescreen.astro";
import ToolsGrid from "../components/tools-grid";
import { getToolsByCategory } from "@/lib/get-tool-by-category";

const tools = await getToolsByCategory("font");

if (Astro.cache.enabled) {
	Astro.cache.set({
		maxAge: 86400,
		swr: 43200,
		tags: ["fonts-page"],
	});
}
---

<HomescreenLayout title="Fonts | Design Index" description="handpicked selection of font libraries to bring personality and clarity to your typography. Whether you're looking for elegant serifs, modern sans-serifs, or expressive display fonts, this section helps you find the perfect typeface to elevate your design language and reinforce brand identity." keywords="fonts, typefaces, variable fonts, typography resources, serif fonts, sans serif fonts" backgroundVariant="slate">
	<main class="mt-[12px] px-[20px]">
		<section>
			<div>
				<h1 class="font-google font-medium text-4xl leading-none theme-text-primary md:text-[40px] tracking-[0.05rem]">
					Fonts
				</h1>
				<p class="hidden md:block mt-3 font-rethink text-[20px] leading-[18px] theme-text-muted md:text-base font-medium">
					A handpicked selection of font libraries to bring personality and clarity to your typography. Whether you're looking for elegant serifs, modern sans-serifs, or expressive display fonts, this section helps you find the perfect typeface to elevate your design language and reinforce brand identity.
				</p>
				<p class="block md:hidden mt-3 font-rethink text-[15px] leading-[18px] theme-text-muted md:text-base font-medium">
					A handpicked collection of fonts to add personality and clarity to your typography. From elegant serifs to bold display fonts, find the perfect typeface to elevate your design and brand.
				</p>
				<ToolsGrid client:load category="font" initialTools={tools} />
			</div>
		</section>
	</main>
</HomescreenLayout>
