---
import HomescreenLayout from "../layouts/homescreen.astro";
import ToolsGrid from "../components/tools-grid";
import { getToolsByCategory } from "@/lib/get-tool-by-category";

const tools = await getToolsByCategory("icon");

if (Astro.cache.enabled) {
	Astro.cache.set({
		maxAge: 86400,
		swr: 43200,
		tags: ["icons-page"],
	});
}
---

<HomescreenLayout title="Icons | Design Index" description="versatile collection of icon libraries covering diverse styles, categories, and use cases. Whether you need minimal line icons, bold glyphs, playful or animated icons, this section helps you communicate ideas clearly and enhance user interaction with visual clarity." keywords="icons, icon libraries, UI icons, product icons, animated icons, SVG icons" backgroundVariant="slate">
	<main class="mt-[12px] px-[20px]">
		<section>
			<div>
				<h1 class="font-google font-medium text-4xl leading-none theme-text-primary md:text-[40px] tracking-[0.05rem]">
					Icons
				</h1>
				<p class="hidden md:block mt-3 font-rethink text-[20px] leading-[18px] theme-text-muted md:text-base font-medium">
					A versatile collection of icon libraries covering diverse styles, categories, and use cases. Whether you need minimal line icons, bold glyphs, playful or animated icons, this section helps you communicate ideas clearly and enhance user interaction with visual clarity.
				</p>
				<p class="block md:hidden mt-3 font-rethink text-[15px] leading-[18px] theme-text-muted md:text-base font-medium">
					A versatile collection of icon libraries spanning styles and use cases. From minimal lines to bold or animated icons, find the right visuals to enhance clarity and user interaction.
				</p>
				<ToolsGrid client:load category="icon" initialTools={tools} />
			</div>
		</section>
	</main>
</HomescreenLayout>
