---
import HomescreenLayout from "../layouts/homescreen.astro";
import ToolsGrid from "../components/tools-grid";
import { getToolsByCategory } from "@/lib/get-tool-by-category";

const tools = await getToolsByCategory("illustration");
if (Astro.cache.enabled) {
	Astro.cache.set({
		maxAge: 3600,
		tags: ["illustrations-page"],
	});
}
---

<HomescreenLayout title="Illustrations | Design Index" description="rich archive of illustrations ranging from minimal flat styles to detailed artworks. Use these visual assets to add depth, storytelling, and emotional warmth to your projects, making them more engaging, memorable, and human-centered." keywords="illustrations, illustration libraries, vector illustrations, 3D illustrations, design assets" backgroundVariant="slate">
	<main class="mt-[12px]  px-[20px]">
		<section>
			<div>
				<h1 class="font-rethink font-medium text-4xl leading-none theme-text-primary md:text-[40px]">
					illustrations
				</h1>
				<p class="hidden md:block mt-3 font-rethink text-[20px] leading-[18px] theme-text-muted md:text-base">
					A rich archive of illustrations ranging from minimal flat styles to detailed artworks. Use these visual assets to add depth, storytelling, and emotional warmth to your projects, making them more engaging, memorable, and human-centered.
				</p>
				<p class="block md:hidden mt-3 font-rethink text-[15px] leading-[18px] theme-text-muted md:text-base">
					A rich archive of illustrations—from minimal to detailed—to add depth, emotion, and storytelling to your projects. Make your work more engaging, memorable, and human-centered.
				</p>
				<ToolsGrid client:load category="illustration" initialTools={tools} />
			</div>
		</section>
	</main>
</HomescreenLayout>
