---
import HomescreenLayout from "../layouts/homescreen.astro";
import instagramIcon from "../assets/instagram.svg?url";
import githubIcon from "../assets/github.svg?url";
import threadsIcon from "../assets/threads.svg?url";
import twitterIcon from "../assets/twitter.svg?url";
import HomeScrollFade from "../components/home-scroll-fade";
import SearchBar from "../components/searchbar";

export const prerender = false;

const socialLinks = [
	{ label: "Instagram", href: "https://www.instagram.com/atharv_remeshan/", icon: instagramIcon },
	{ label: "GitHub", href: "https://github.com/atharv-rem/design-index-3.0", icon: githubIcon },
	{ label: "Threads", href: "https://www.threads.com/@atharv_remeshan", icon: threadsIcon },
	{ label: "Twitter", href: "https://x.com/atharv_rem", icon: twitterIcon },
];
---

<HomescreenLayout
	title="Design Index | Best Design Tools, Resources, and Inspiration"
	description="Browse the best curated design tools, mockups, icon sets, fonts, color resources, and design inspiration links in one place."
	keywords="design tools, design resources, UI tools, mockups, icons, fonts, color palettes, design inspiration"
	showDefaultSidebarTrigger={false}
	floatingNavbarSocialLinks={socialLinks}
>
	<div class="relative min-h-screen w-full">
		<HomeScrollFade client:load />
		<SearchBar client:load />
	</div>
</HomescreenLayout>
