---
import '../styles/global.css';
import { Font, Image } from 'astro:assets';
import backgroundImage from '../images/background.jpg';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Home</title>
        <Font cssVariable="--font-kalamayka" />
        <Font cssVariable="--departure" />
    </head>
    <body class="relative min-h-screen bg-black font-kal">
        <Image
            src={backgroundImage}
            alt=""
            format="webp"
            quality={80}
            loading="eager"
            class="fixed inset-0 -z-10 h-full w-full object-cover"
        />
        <slot />
    </body>
</html>